language: php

env:
  global:
  - TASK_TESTS_COVERAGE=0

matrix:
  fast_finish: true
  include:
  - php: nightly
  - php: 7.2
  - php: 7.1
    env: TASK_TESTS_COVERAGE=1
  - php: 7.0
  - php: 5.6
  - php: 5.5

  allow_failures:
  - php: nightly

# cache vendor dirs
cache:
  directories:
    - $HOME/.composer/cache

install:
  - travis_retry composer self-update && composer --version
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - travis_retry composer install --prefer-dist --no-interaction

before_script:
  - psql --version
  - psql -U postgres -c 'CREATE DATABASE yiitest;';
  - psql -U postgres yiitest < tests/data/pgsql.sql
  - echo "<?php unset(\$config['databases']['pgsql']['fixture']);" > tests/data/config.local.php

  - |
    if [ $TASK_TESTS_COVERAGE == 1 ] ; then
      PHPUNIT_FLAGS="--coverage-clover=coverage.clover"
    fi

script:
  - phpunit --verbose $PHPUNIT_FLAGS

after_script:
  - |
    if [ $TASK_TESTS_COVERAGE == 1 ] ; then
      travis_retry wget https://scrutinizer-ci.com/ocular.phar
      php ocular.phar code-coverage:upload --format=php-clover coverage.clover
    fi
