
.rules-container > div > label{
    min-width: 96px;
}

.card [data-toggle="collapse-custom"]:after {
    display: inline-block;
    /*display: inline-block;*/
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(0deg) ;
    transition: all linear 0.25s;
    float: right;
    line-height: inherit;
}
.card.displayed [data-toggle="collapse-custom"]:after {
    transform: rotate(90deg) ;
}

#accordion .card .card-body{
    display: none;
    transition: display 2s;
}

#accordion .card.displayed .card-body{
    display: block;
}
